

@model Core.Utilities.Result.IDataResult<List<Entities.Models.Light>>
@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>@ViewData["hello"].ToString()</p>
    <p>@Localizer["MainPage"].Value</p>
    <p>Mesaj: @Model.Message</p>

    @{
        foreach (var item in Model.Data)
        {
            <p>@item.LightSensorValue</p>
        }
    }

</div>


